.form-container {
    margin-left: 20px;
    margin-right: 20px;
}

.form-group {
    display: flex;
    position: relative;
}

.dropdown-button {
    width: 150px;
    padding: 5px 5px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 650;
}

.dropdown-button:hover {
    background-color: #e5e7eb;
}

.icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 200px;
    z-index: 10;
}

.hidden {
    display: none;
}

.dropdown-item {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.search-box {
    width: 500px;
    
}

.search-input {
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    outline: none;
    color: rgb(3, 3, 52);
    font-weight: 650;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1d4ed8;
    color: #fff;
    border: none;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #ffffff72;
}

.search-button:hover {
    background-color: #2ebffd;
}

.search-icon {
    width: 18px;
    height: 18px;
}
