button {
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #555;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
}

button:hover {
  background-color: #777;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

button:focus,
button:focus-visible {
  outline: 4px solid #00b3b3; 
}



[data-theme="light"]body{
  background-color: whitesmoke;
}


[data-theme="dark"]body{
  background-color: black;
}


[data-theme="light"] button {
  background-color: #f0f0f0; 
  color: #333; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

[data-theme="light"] button:hover {
  background-color: #e0e0e0; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
}

[data-theme="dark"] button {
  background-color: #222; 
  color: #00ffcc;
  box-shadow: 0 4px 15px rgba(0, 255, 255, 0.3); 
  border: 2px solid #00ffcc; 

}

  [data-theme="dark"] button:hover {
  background-color: #333;
  color: #ff00ff; 
  box-shadow: 0 6px 30px rgba(0, 255, 255, 0.6); 
  transform: scale(1.1); 
  border: 2px solid #ff00ff;
}


[data-theme="dark"] button:focus,
[data-theme="dark"] button:focus-visible {
  outline: 4px solid #ff00ff; 
}
