:root {
  --bg-color-light: rgb(249, 247, 255);
  --text-color-light: #333333;
  --bg-color-dark: #1d0754;
  --text-color-dark: #ffffff;
}

[data-theme="light"] {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

[data-theme="dark"] {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.app {
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
